.navbar{
    overflow: hidden;
    background-color:#333333;
   border-top: #f2dede;
    font-family: sans-serif;
    
    top: 0;
    margin-top:-50px;
    width: 101.2%;
    margin-left: -10px;
    height: 50px;
}


.navbar .current{
    color:white;
    background-color:black;
}


#logout{
   margin-left:1250px;
}

.navbar a{

    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;

}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.navbar a:hover, .dropdown:hover .dropbtn {
    color: white;
}


.dropdown-content {



    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.content{
    padding: 16px;
}
.sticky{
    position: fixed;
    top:0;
    width: 100%;
}
.sticky+.content{
    padding-top: 60px;
}






*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: lightsteelblue;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
   
}


.people-list {
    width: 260px;
    float: left;
}
.search {
    padding: 20px;
}

input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.fa-search {
    position: relative;
    left: -25px;
}

ul {
    padding: 20px;
    height: 770px;


}

li {
    padding-bottom: 20px;
}


img {
    float: left;
}

.about {
    float: left;
    margin-top: 8px;
}

.about {
    padding-left: 8px;
}

.status {
    color: gray;
}



.container {
    margin-left: -8px;
    width: 101.1%;
    background: #444753;
    height: 720.5px;
    height: 92%;
}

#Spx{
    margin-left: 180px;
    font-size: 20px;
}

.chat {
    width: 85.9%;
    margin-left: 1px;
    float: left;
    background: #F2F5F8;
    color: #434651;
}
.chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat-num-messages {
    color: grey;
}

.fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}


.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
   height: 700px;
}
.message-data {
    margin-bottom: 15px;
}

.message-data-time {

    padding-left: 6px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
after {
     bottom: 100%;
     left: 7%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-bottom-color: green;
     border-width: 10px;
     margin-left: -10px;
 }


.my-message {
    background: green;
}

.other-message {
    background: blue;
}
:after {
     border-bottom-color: blue;
     left: 93%;
 }




.chat-message {
    padding: 30px;
}
textarea {
    width: 95%;
    height:50px;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    

}

ul li{
    list-style-type: none;
}

.fa-file-o, .fa-file-image-o {
    font-size: 16px;
    color: grey;
    cursor: pointer;

}

button {
    float: right;
    color:  blue;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #eeeeee;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: green;
}

.offline {
    color: orange;
}

.me {
    color: blue;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

